* body {
    padding: 0;
    margin: 0;
    /* background-color: #0A0A0A; */
    background-image: url(./utils/dark.jpg);
    font-family: serif emoji sans-serif, Geneva, Tahoma, sans-serif;
    font-style: italic;
    color: snow;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

.container {
    position: absolute;
}

p {
   font-size: 16px;
}

.key_role {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1.2;
    margin-top: 30px;
}

.header {
    height: 70px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #403e3e;
    justify-content: space-between;
    position: fixed;
    z-index: 1000;
    width: 100%;
    background-image: url(./utils/dark.jpg);
}

.left-section {
    display: flex;
    align-items: center;
    margin-left: 5%;
}

.right-section {
    margin-right: 5%;
}

.left-section img {
    height: 35;
    width: 35;
    border-radius: 50%;
    margin-left: 5%;
}

.left-section p {
    margin-left: 2%;
    color: white;
    font-size: 17px;
    font-style: italic;
    font-weight: 600;
    width: 90px;
}

.divider {
    height: 30px;
    width: 1px;
    background: white;
    margin-left: 20px;
    margin-right: 20px;
}

.profile {
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 12%;
    align-items: center;
}

.profile-pic {
    border-radius: 1%;
    height: 370;
    width: 380;
    box-shadow: 0 4px 8px 0 rgb(245 231 231 / 20%),
        0 6px 20px 0 rgb(239 229 229 / 19%);
}

.discription {
    margin-right: 55px;
    text-align: center;
}

.skills, .hobbies, .map, .my_projects {
    margin-top: 6%;
}

.skills_section, .hobbies_section {
    margin-top: 50px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
}

.html, .javascript, .css, .reactjs, .firebase {
    text-align: center;
    width: 18%;
}

.music, .cricket, .brain, .drawing { 
    text-align: center;
    cursor: pointer;
}

.html_logo, .css_logo, .reactjs_logo, .firebase_logo {
    width: 110px;
    height: 110px;
}

.music_logo, .brain_logo, .cricket_logo, .drawing_logo {
    width: 160px;
    height: 158px;
}

.js_logo {
    width: 190px;
    height: 110px;
}

.map {
    margin-bottom: 4%;
}

.footer {
    text-align: center  ;
}

.github, .linkedIn, .instagram, .facebook {
    height: 30px;
}

.instagram {
    margin-left: 12px;
    margin-right: 12px;
}

.linkedIn {
    margin-right: 12px;
}

.video_detail {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

#vid-1, #vid-2 {
    width: 45%;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

#video_title {
    margin-top: 40px;
    text-align: center;
    font-size: 22px;
    /* font-family: cursive; */
    font-weight: 600;
    font-family: monospace;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

#songs_list {
    position: fixed;
    width: 100%;
    left: -100%;
    top: 0;
    height: 100%;
    visibility:hidden;
    z-index: 999999;
    visibility: hidden;
    background-color: rgba(0,0,0,0.4);
    -webkit-animation: slide 1s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 1s forwards;
    animation-delay: 2s;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}

#author {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 2px;
}

#author > p {
    color: black;
    position: absolute;
    left: 48%;
    z-index: 999;
    background: white;
}

#author > div {
    background-color: black;
    width: 85%;
    height: 1px;
    margin-left: 15px;
}

#author-img {
    height: 44px;
    border-radius: 50%;
    margin-left: 10px;
}

#songs {
    width: 50%;
    height: 550px;
    background: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 30px;
    margin-left: 25%;
}

audio {
    margin-left: 25px;
    height: 40px;
    width: 65%;
}

#song-img {
    height: 38px;
    width: 40px;
    border-radius: 50%;
}
/* not worked yet */

@media (max-device-width: 480px) {

    .left-section img {
        height: 60;
        width: 60;
        margin-left: 7%;
    }

    #connect {
        height: 60;
        width: 60;
    }

    .divider {
        height: 45px;
        width: 1px;
        background: white;
        margin-left: 4%;
    }
    
    .left-section p {
        margin-left: 4%;
        color: white;
        font-size: 22px;
        font-style: italic;
        font-weight: 600;
        font-family: none;
        width: 135px;
    }

    .header {
        height: 135px;
    }
    
    .profile {
        display: flex;
        flex-direction: column-reverse;
        width: 90%;
        margin: auto;
        margin-top: 22%;
    }

    .discription {
        margin-top: 5%;
        text-align: center;
        margin-left: 5%;
    }

    .profile-pic {
        border-radius: 50%;
        height: 500px;
        width: 500px;
    }

    .description h1 {
        font-size: 25px;
    }

    .key_role {
        font-size: 20px !important;
        letter-spacing: 1px;
        line-height: 1.4;
        margin-top: 50px;
        text-align: justify;
    }

    p {
        font-size: 22px;
    }

}

/* display: flex;
align-items: center;
border-bottom: 1px solid #403e3e;
position: fixed;
z-index: 1000;
width: 100%;
background-image: url(./utils/dark.jpg); */